@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style-type: none;
    text-decoration: none;
}


.section {
  position: relative;
}

section h1 {
  text-align: center;
  font-size: 2rem;
  gap: 2rem;
  color: rgb(255, 255, 255);
}


.Container-roupas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 3rem;


}

.Container-roupas p.roupa3 {
  font-size: 1.68vh;
  font-family: 'Quicksand', sans-serif;
  padding-top: 2.8%;
}

.Container-roupas p.roupa1 {
  font-size: 2vh;
  font-family: 'Quicksand', sans-serif;
  padding-top: 3%;
}

.Container-roupas p.roupa2 {
  font-size: 2vh;
  font-family: 'Quicksand', sans-serif;
  padding-top: 5%;
}

.Container-roupas img:hover {
  transform: scale(0.9) translateY(-5px);
  cursor: pointer;
  transition: 0.3s;

}


.centraliza_mapa {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.mapbox {
  width: 800px;
  height: 600px;
}

.mapbox iframe {
  width: 100%;
  height: 100%;
}

.estrelas input {
  display: none;
  color: #FC0;
}

.estrelas label i.fa {
  padding-top: 5%;
  font-size: 1.5em;
}

.estrelas label i.fa:before {
  content: '\f005';
  color: #FC0;
}

.mapbox h2 {
  color: #fff;
  text-align: center;
  font-size: 1.8vh;
  margin: 0;
  padding: 2%;
  background-color: #c8815f;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}

